language: node_js
sudo: required
node_js:
- '14'
install:
- npm ci
jobs:
  include:
  - stage: Lint
    script: npm run lint
  - stage: Test
    script: npm run test && npx codecov
  - stage: Deploy
    script: npm run deploy && curl -sSL https://raw.githubusercontent.com/RedHatInsights/insights-frontend-builder-common/master/src/bootstrap.sh | bash -s
# Include tests and after complere push to prod
  - stage: Cypress tests
    script:  npm run test:ct
after_success:
- bash build_deploy_stable.sh 

env:
  global:
  - REPO="git@github.com:RedHatInsights/edge-frontend-build"
  - REPO_DIR="edge-frontend-build"
  - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
  - NODE_OPTIONS="--max-old-space-size=4096 --max_old_space_size=4096"
