// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-utilities/styles/all";
@import '~@redhat-cloud-services/frontend-components-notifications/index.css';
@import '~@redhat-cloud-services/frontend-components/PrimaryToolbar/primary-toolbar.css';
@import '~@redhat-cloud-services/frontend-components/ConditionalFilter/conditional-filter.css';

.edge-groups, .edge-groups--detail {
  .edge-groups__info .pf-c-card, .edge-groups--detail__info .pf-c-card {
    height: 100%;
  }
}

.edge-groups--detail .edge-groups--detail__info {
  .pf-c-card.edge-groups--detail__complex {
    .pf-c-card__header .pf-l-grid { width: 100%; }
    .pf-c-card__body .pf-l-grid {
      height: 100%;

      .pf-l-grid__item:first-of-type {
        border-right: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
      }
    }
  }
}

.tiles {
  padding-bottom: 1rem;
  align-items: stretch;
}

.tiles-card {
  height: 100%;
}

.packages-compound-expand {
  padding: 1rem;
}

.grid-align-center {
  align-self: center;
}

.force-text-black {
  color: var(--pf-c-dropdown__menu-item--Color);
}

.remove-underline {
  text-decoration: none;
}

[aria-labelledby="image-detail-kebab"] {
  list-style-type: none;
  padding-left: 0;
}

[aria-labelledby="image-set-details-dropdown"] {
  list-style-type: none;
  padding-left: 0;
}

.ins-active-app-general_information {
  margin-left: 32px;
  margin-top: 32px;
}

.ins-c-general-information dt {
  width: 175px;
}


.pf-u-warning-color-200 {
  color: var(--pf-global--warning-color--200);
}

.pf-u-success-color-200 {
  color: var(--pf-global--success-color--200);
}

.pf-u-danger-color-200 {
  color: var(--pf-global--danger-color--200);
}

.details-label {
  width: 160px;
}

.cursor-pointer {
  cursor: pointer;
}

.pf-c-table__action {
  display: flex;
  justify-content: right;
  margin-right: 10px;
}

a#build-register-images, a#working-with-systems { 
  display:none;
}

.pfext-quick-start-tile-header__status .pf-m-outline {
  display: none;
}

.pf-c-description-list__group .pf-c-description-list__term {
  width: fit-content
}
